.display-title {
  background: var(--main-bg-color);
  color: black;
  font-size: 3.00rem;
  font-weight: bold;
}

.section-title {
  background: var(--main-bg-color);
  color: black;
  font-size: 1.75rem;
  font-weight: bold;
}

.item-title {
  background: var(--main-bg-color);
  color: black;
  font-size: 1.5rem;
  align-items: center;
  justify-content: left;
  padding-left: 8px;
}

.item-blank {
  background: var(--main-bg-color);
  color: black;
  font-size: 1.5rem;
  align-items: bottom;
  justify-content: left;
}

.item-frame {
  background: var(--main-bg-color);
  color: black;
  font-size: 1.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  /*display: flex;*/
  align-items: center;
  justify-content: left;
}

.top-alignment {
  margin-top: 12px;
}

.kill-vmargin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.input-field input[type=text] {
  border-bottom: 1px solid #000;
  text-align: left;
}

/* label color */
.input-field label {
  color: black;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 2rem;
  padding-bottom: 25%;
  vertical-align: bottom;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.standard-btn {
  width: 100%;
  height: 3.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  margin: 4px;
  color: black;
  background-color: var(--main-bg-color);
}

.standard-btn-disabled {
  width: 100%;
  height: 3.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  margin: 4px;
  color: #666666;
  /*background-color: #CCCCCC;*/
  opacity: 0.5;
  pointer-events: none;
}

.large-btn {
  width: 100%;
  height: 5.0rem;
  font-weight: 600;
  font-size: 1.50rem;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  margin: 4px;
  color: black;
  background-color: var(--main-bg-color);
}

.large-btn-disabled {
  width: 100%;
  height: 5.0rem;
  font-weight: 600;
  font-size: 1.50rem;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  margin: 4px;
  color: #666666;
  /*background-color: #CCCCCC;*/
  opacity: 0.5;
  pointer-events: none;
}


input[type="number"] {
  display: block;
  background-color: var(--main-bg-color);
  border: 1px solid black;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-top: 4px;
  cursor: pointer;
  text-align: center;
}

input.console-number-input[type="number"] {
  display: block;
  background-color: var(--main-bg-color);
  height: 3.5rem;
  border: 1px solid black;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-top: 4px;
  cursor: pointer;
  text-align: center;
}

input[type="text"] {
  display: block;
  background-color: var(--main-bg-color);
  border: 1px solid black;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-top: 4px;
  cursor: pointer;
  text-align: center;
}

input.console-text-input[type="text"] {
  display: block;
  background-color: var(--main-bg-color);
  border: 1px solid black;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-top: 0;
  cursor: pointer;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  background: var(--main-bg-color);
  opacity: 0.3;
  height: 48px;
}

.input-disabled {
  color: #666666;
  /*background-color: #CCCCCC;*/
  background: var(--main-bg-color);
  border: none;
  opacity: 0.5;
}

input[type="number"]:disabled {
  color: #666666;
  /*background: #CCCCCC;*/
  background: var(--main-bg-color);
  border: none;
  opacity: 0.5;
}

#input-table-number:focus {
  border-bottom: 1px solid black;
}

#input-section-letter:focus {
  border-bottom: 1px solid black;
}

#input-first-board:focus {
  border-bottom: 1px solid black;
}

#input-last-board:focus {
  border-bottom: 1px solid black;
}

#input-hand-minutes:focus {
  border-bottom: 1px solid black;
}

#input-session-minutes:focus {
  border-bottom: 1px solid black;
}

select option {
  direction: rtl;
}

#bt-bidbox {
  vertical-align: middle;
  padding-right: 12px;
  padding-bottom: 24px;
}

#bt-director {
  vertical-align: middle;
  padding-right: 12px;
  padding-bottom: 24px;
}

#bt-player {
  vertical-align: middle;
  padding-right: 12px;
  padding-bottom: 24px;
}

#bt-clock {
  vertical-align: middle;
  padding-right: 12px;
  padding-bottom: 24px;
}

#bt-boards {
  vertical-align: middle;
  padding-right: 12px;
  padding-bottom: 24px;
}

.dot-connected {
  color: #388e3c;
}

.dot-disconnected {
  color: #e53935;
}

.dot-waiting {
  color: #fdd835;
}

.dot-unset {
  color: var(--main-bg-color);
  display: none;
}

.input-field input[type=text] {
  border-bottom: 1px solid #000;
  text-align: left;
}

/* label color */
.input-field label {
  color: black;
}

#msg-rcvd {
  border-bottom: 1px solid black;
}

#msg-rcvd:focus {
  border-bottom: 2px solid black;
  box-shadow: 0 1px 0 0 black;
}

#msg-rcvd:focus+label {
  color: black;
}

#msg-send {
  border-bottom: 1px solid black;

}

#msg-send:focus {
  border-bottom: 2px solid black;
  box-shadow: 0 1px 0 0 black;
}

#msg-send:focus+label {
  color: black;
}